PORT=4000
DATABASE_URL=postgresql://kimmy:dev@localhost:5432/kimmysystem
REDIS_URL=redis://localhost:6379
S3_ENDPOINT=http://localhost:9000
S3_KEY=kimmy
S3_SECRET=devdevdev
SMTP_URL=smtp://localhost:1025
